body
{
    background-attachment: fixed;
    background-image:  linear-gradient(rgba(209, 219, 225, 0.85), rgba(209, 219, 325, 0.85)), url("../media/back ground-image@2x.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* LOGIN page */

    /* NAVBAR section */
.navbar
{
    background-color: #002942;
    border-radius: 0px;
}
nav .navbar-brand
{
    padding: 0%;
    height: 52px;
}

nav span
{
    margin-left: 10px;
    color: #FB9854;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
nav .navbar-left
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 52px;
}

nav .navbar-right
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 52px;
}

/* FORM section */

/*
.cir1
{
    background-color: #FB9854;
    width: 70px;
    height: 70px;
    border: 1px solid #002942;
    border-radius: 50%;
    position: relative;
}
.cir2
{
    background-color: #D1DBE1;
    width: 50px;
    height: 50px;
    border: 1px solid #002942;
    border-radius: 50%;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
}
*/
header
{
    margin: 40px 0 40px 0;
}
header > div
{
    position: relative;
}

header h2
{
    margin: 13px;
    display: inline;
    position: absolute;
    color: #002942;
}
header p
{
    margin-left: 75px;
    margin-bottom: 25px;
    color: #002942cc;
}

/* FORM part */
form
{
    margin: 30px 0 70px 0;
    
}
.input-group
{
    margin-bottom: 30px;
}
#sizing-addon1, #sizing-addon2
{
    background-color: #002942;
    border-radius: 0px;
    color: #ffffff;
}
form div:first-child
{
    display: flex;
    justify-content: space-between;
}
form div:first-child a
{
    border-radius: 0px;
    color: #ffffff;
    background-color: #002942;
    min-width: 30%;
}
form div:first-child a:hover
{
    color: #FB9854;
    background-color: #002942;
}

form div:last-child label, form div:last-child a, form div:nth-last-child(3) > input, form div:nth-last-child(4) > input
{
    color: #002942;
}
form div:last-child
{
    display: flex;
    justify-content: space-between;
}
form div:nth-last-child(2) > button
{
    border-radius: 0px;
    color: #ffffff;
    background-color: #002942;
}
form div:nth-last-child(2) > button:hover
{
    color: #FB9854;
    background-color: #002942;
}

/* footer section */
footer
{
    background-color: #002942;
}
footder .row
{
    display: flex;
    align-items: center;
}
footer .row div:nth-child(3), footer .row div:nth-child(2), footer .row div:nth-child(1)
{
    padding: 5px 0 5px 0;
}
footer ul
{
    display: flex;
    justify-content: space-around; 
    color: #ffffff;
    margin: 10px 0 10px 0;
}

footer ul li a
{
    color: #ffffff;
}

footer ul li a:hover
{
    color: #FB9854;
    text-decoration: none;

}

footer p
{
    text-align: center;
    color: #ffffff;
    margin: 10px 0 10px 0;
}






